# Telegram API (получить на my.telegram.org)
TG_API_ID=1234567
TG_API_HASH=your_api_hash_here
TG_PHONE=+71234567890

# Прокси (если используешь)
PROXY_URL=http://user:pass@ip:port
PROXY_LIST=["http://user1:pass1@ip1","http://user2:pass2@ip2"]

# Режим отладки
DEBUG=false